@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply px-0 lg:px-[25%];
  }
}

.text-field .MuiInputBase-input {
  height: 40px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.MuiInput-underline:after {
  border-bottom: 2px solid #ff2e94 !important;
}
.MuiIconButton-colorInherit {
  color: #ff2e94 !important;
}
.MuiSelect-root {
  width: 72px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  color: #ff2e94 !important;
}
.MuiSelect-root > div {
  color: rgba(0, 0, 0, 0.6) !important;
  text-align: left !important;
}
.MuiListItem-root.Mui-selected {
  background-color: #ff2e94 !important;
  color: #ffffff !important;
}
.MuiButton-outlinedPrimary {
  border: 1px solid rgba(255, 46, 148, 0.5) !important;
  border-radius: 4px !important;
}
.table-resultat {
  max-width: 100%;
  overflow-x: scroll;
  border-radius: 6px 6px 0px 0px;
}
.table-resultat::-webkit-scrollbar {
  display: none;
}
.table-resultat table {
  border: 1px solid rgba(255, 46, 148, 0.2);
  border-collapse: collapse;
}
.table-resultat th {
  background-color: #ff2e94;
  color: white;
  border: 1px solid rgba(255, 46, 148, 0.2);
  border-collapse: collapse;
}
.table-resultat td {
  border: 1px solid rgba(255, 46, 148, 0.2);
  border-collapse: collapse;
  width: 32px;
  height: 32px;
  min-width: 32px;
}
.MuiPaper-elevation2 {
  border-radius: 6px !important;
  border-top: 1px solid rgba(255, 46, 148, 0.2);
}
.table-objets .MuiTableCell-root {
  border-bottom: 1px solid rgba(255, 46, 148, 0.2) !important;
}
.table-objet tr {
  border-left: none;
  border-right: none;
}
.MTablePaginationInner-root-14 .MuiButton-contained.Mui-disabled {
  background-color: #ff2e94 !important;
  color: white !important;
}
.MuiTableRow-root .MuiTableRow-head {
  border-radius: 6px !important;
}
